@using DataAccess.Model
@model IList<Item>
@{
    ViewBag.Title = "Index";
}
<p>
   
    <h1>Vítejte: @ViewBag.user</h1>



</p>
<a href="@Url.Action("Create","Items")" class="btn btn-primary pull-right">Přidat položku</a>

<div class="clearfix"></div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Obrázek</th>
            <th>Id</th>
            <th>Nazev</th>
            <th>Cena</th>
            <th>Vyrobce</th>
            <th>Mnozstvi</th>
            <th>Akce</th>

        </tr>
    </thead>


    <tbody>
        @foreach (Item i in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(i.ImageName))
                    {
                        <a href="@Url.Content("~/Uploads/Item/" + i.ImageName)">
                            <img alt="image" src="@Url.Content("~/Uploads/Item/" + i.ImageName)" />
                        </a>
                    }
                </td>
                <td>@i.Id</td>
                <td>@i.Name</td>
                <td>@i.Price</td>
                <td>@i.Producer</td>
                <td>@i.Quantity</td>
                <td><a href="@Url.Action("Edit","Items",new {id=i.Id},null)"><label>Edit</label></a></td>
                <td><a href="@Url.Action("Detail","Items",new {id=i.Id})"><label>Det ail</label></a></td>
                @*<td><a href="@Url.Action("Delete","Items",new {id=i.Id},new{onclick = "return confirm('Opravdu smazat?"+i.Name+"');"})>   <label>Smazat</label>  </a></td>*@
                <td>@Html.ActionLink("Delete", "Delete", "Items", new { id = i.Id }, new { onclick = "return confirm('Opravdu smazat?" + i.Name + "');" })</td>
            </tr>

        }


    </tbody>


</table>
