@using DataAccess1.Model
@model IList<Item>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_LayoutStore.cshtml";+
    // Layout = "~/Views/Shared/_LayoutWithout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<p>

    @if (ViewBag.user != null)
    {

        <h1>
            Vítejte: @ViewBag.user
        </h1>

    }
    else
    {<h1>
            Vítejte!
        </h1>
        <h4>Níže naleznete položky pro výběr. Pro více možností se prosím přihlašte, případně nás kontaktujte zde.</h4>
    }
</p>

<div class="card mb-12">
    <div class="card-header">Kategorie</div>
    <div class="card-body">
        <ul class="list-group list-group-horizontal-sm">

            @if (ViewBag.Result != null)
            {
                foreach (Result result in ViewBag.Result)
                {
                    <li class="list-group-item">@result.Name (@result.Count)</li>
                }
            }

        </ul>
    </div>
</div>


<div class="clearfix"></div>
@if (Model != null && Model.Count() != 0)
{
    <div class="card mb-12">
        <div class="card-header">Položky</div>
        <div class="card-body">
            <table class="tablesaw tablesaw-stack" data-tablesaw-mode="stack">
                <thead>
                    <tr>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Název</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Obrázek</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Vyrobce</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Cena</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Kategorie</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">Mnozstvi</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="6">Akce</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (Item i in Model)
                    {
                        <tr>
                            <td class="title">@i.Name</td>
                            <td>
                                @if (!string.IsNullOrEmpty(i.ImageName))
                                {
                                    <a href="@Url.Content("~/Uploads/Item/" + i.ImageName)">
                                        <img alt="image" src="@Url.Content("~/Uploads/Item/" + i.ImageName)" />
                                    </a>
                                }
                            </td>
                            <td>@i.Producer</td>
                            <td>@i.Price</td>
                            <td>@i.Category.CategoryName</td>
                            <td>@i.Quantity</td>
                            <td>
                                @Html.ActionLink("Detail", "Detail", "Items", new { id = i.Id }, new { @class = "btn btn-primary btn-small" })
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{

    <h1>Nenašla se žádná data k zobrazení</h1>
}


@if (ViewBag.Pages != null)
{
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.Pages; i++)
        {
            <li class=" page-item @(ViewBag.CurrentPage==i ? "active":"")"><a class="page-link" href="@Url.Action("Index","Items",new {page=i })">@i</a></li>
        }
    </ul>

}
