@using DataAccess.Model
@model List<Item>
@{
    ViewBag.Title = "Index";
}

<a href="@Url.Action("Create","Items")" class="btn btn-primary pull-right">Přidat položku</a>
<div class="clearfix"></div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Obrázek</th>
            <th>Id</th>
            <th>Nazev</th>
            <th>Cena</th>
            <th>Vyrobce</th>
            <th>Mnozstvi</th>

        </tr>
    </thead>


    <tbody>
        @foreach (Item i in Model)
        {
        <tr>
            <td>@if (!string.IsNullOrEmpty(i.ImageName))
            {
            <img src="@Url.Content("~/uploads/item/" + i.ImageName)" />
            }
            </td>
            <td>@i.Id</td>
            <td>@i.Name</td>
            <td>@i.Price</td>
            <td>@i.Producer</td>
            <td>@i.Quantity</td>
            <td><a href="@Url.Action("Detail","Items",new {id=i.Id})"><label>Detail</label></a></td>
            <td><a href="@Url.Action("Delete","Items",new {id=i.Id})"><label>Smazat</label></a></td>

        </tr>

        }


    </tbody>


</table> 
