@model DataAccess1.Model.ItemCategory
@{

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("AddCategory", "Items", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.CategoryDescription, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.TextAreaFor(model => model.CategoryDescription, htmlAttributes: new { @class = "form-control formatedtext" })
        </div>
    </div>



</div>
    <div class="btn-group ml-3">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Přidat položku</button>
        <a href=" @Url.Action("Index", "Items")" class="btn btn-primary btn-lg">Zpět</a>
    </div>
}

<script src="https://cdn.tiny.cloud/1/9wzwytaqxdg3q5ac46z1wm88c8fbkt7mhwmf42delrzs6nn1/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({ selector: '.formatedtext' });</script>

