@using DataAccess1.Model
@model IList<Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    // Layout = null;

}
<p>
    @if (ViewBag.user != null)
    {<h1>Vítejte: @ViewBag.user</h1>}
</p>
@*<a href="@Url.Action("Create","Items")" class="btn btn-primary pull-right">Přidat položku</a>*@



<div class="clearfix"></div>

@using (Html.BeginForm("Search", "Items"))
{
    <p>
        Vyhledat podle názvu: @Html.TextBox("searchStr")
        <input type="submit" value="Hledat" />
    </p>
}

<div class="card mb-6">
    <div class="card-header">Categories</div>
    <div class="card-body">

        <ul class="list-group list-group-horizontal">


            @if (ViewBag.Categories != null)
            {
                foreach (ItemCategory i in ViewBag.Categories)
                {

                    <li class="list-group-item"><a href="@Url.Action("Category","Items",new {id=i.Id })" style="text-decoration:none">@i.CategoryName</a></li>
                }
            }
        </ul>
    </div>
</div>
@if (Model != null && Model.Count() != 0)
{


    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Obrázek</th>
                <th scope="col">Id</th>
                <th scope="col">Nazev</th>
                <th scope="col">Cena</th>
                <th scope="col">Vyrobce</th>
                <th scope="col">Mnozstvi</th>
                <th scope="col">Akce</th>

            </tr>
        </thead>


        <tbody>
            @foreach (Item i in Model)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(i.ImageName))
                        {
                            <a href="@Url.Content("~/Uploads/Item/" + i.ImageName)">
                                <img alt="image" src="@Url.Content("~/Uploads/Item/" + i.ImageName)" />
                            </a>
                        }
                    </td>
                    <td>@i.Id</td>
                    <td>@i.Name</td>
                    <td>@i.Price</td>
                    <td>@i.Producer</td>
                    <td>@i.Quantity</td>
                    <td>
                        @Html.ActionLink("Detail", "Detail", "Items", new { id = i.Id }, new { @class = "btn btn-primary btn-large" })
                    </td>
                </tr>

            }


        </tbody>

    </table>
}
else
{
    <h1>Nenalezena data pro danou kategorii!</h1>
}

<div class="clearfix"></div>
<nav aria-label="Page navigation example">

    @if (ViewBag.Pages != null)
    {
        <ul class=pagination>
            @for (int i = 1; i <= ViewBag.Pages; i++)
            {
                <li class=" page-item @(ViewBag.CurrentPage==i ? "active":"")"><a class="page-link" href="@Url.Action("Index","Items",new {page=i })">@i</a></li>
            }
        </ul>
    }
</nav>






