@model DataAccess1.Model.Item
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Detail Polozky  @Model.Name</h2>



<p>
    Vyrobce: @Model.Producer
</p>

<p>
    Rok: @Model.YearProduct
</p>


<p>
    Popis: @Html.Raw(Model.Description)
</p>

@*<div class="btn ">
        @Html.ActionLink("Zpět", "Index", "Items", new { @class = "btn btn-primary" })
    </div>*@

<div class="btn-group">
    @* <a class="btn btn-primary" href="@Url.Action("Index","Home")">Více zde</a>*@
    <a class="btn btn-primary" href="@Url.Action("Index","Items")">Zpět na přehled</a>
    <a class="btn btn-primary" href="@Url.Action("Index","Items")">Rezervuj</a>
</div>



