@using DataAccess1.Model
@model IList<Item>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<p>
    <h1>Vítejte: @ViewBag.user</h1>
</p>


<div class="container-sm p-0 pb-sm-4">
    <a href="@Url.Action("Create","Items")" class="btn btn-primary btn-group-sm">Přidat  položku</a>
    <a href="@Url.Action("CreateCategory","Items")" class="btn btn-primary btn-group-sm">Přidat  kategorii</a>
</div>

<div class="clearfix"></div>
@if (Model != null && Model.Count() != 0)
{
    <div class="card mb-12">
        <div class="card-header">Položky</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="tablesaw tablesaw-stack" data-tablesaw-mode="stack">
                    <thead>
                        <tr>
                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Název</th>
                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Obrázek</th>
                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Výrobce</th>
                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Cena</th>
                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Kategorie</th>
                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">Množství</th>
                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="6">Akce</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Item i in Model)
                        {
                            <tr>
                                <td class="title">@i.Name</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(i.ImageName))
                                    {
                                        <a href="@Url.Content("~/Uploads/Item/" + i.ImageName)">
                                            <img alt="image" src="@Url.Content("~/Uploads/Item/" + i.ImageName)" />
                                        </a>
                                    }
                                </td>
                                <td>@i.Producer</td>
                                <td>@i.Price</td>
                                <td>@i.Category.CategoryName</td>
                                <td>@i.Quantity</td>
                                <td>
                                    @Html.ActionLink("Detail", "Detail", "Items", new { id = i.Id }, null)
                                    @Html.ActionLink("Upravit", "Edit", "Items", new { id = i.Id }, null)
                                    @Html.ActionLink("Smazat", "Delete", "Items", new { id = i.Id }, new { onclick = "return confirm('Přejete si položku " + i.Name + " opravdu smazat?');" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <h1>Nenašla se žádná data k zobrazení</h1>
}

@if (ViewBag.Pages != null)
{
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.Pages; i++)
        {
            <li class=" page-item @(ViewBag.CurrentPage==i ? "active":"")"><a class="page-link" href="@Url.Action("Index","Items",new {page=i })">@i</a></li>
        }
    </ul>

}