@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutWithout.cshtml";
}

<!-- new login -->
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Store Room | Log in </title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Scripts/fontawesome-free/css/all.min.css")">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="@Url.Content("~/Scripts/icheck-bootstrap/icheck-bootstrap.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Scripts/dist/css/adminlte.min.css")">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="container" align="center">
                <div class="card-header text-center">
                    <a href="@Url.Action("Index","Home")" class="h1"><b>eStore</b></a>
                </div>
                <div class="card-body">
                    <section>

                        @using (Html.BeginForm("SignIn", "Login", FormMethod.Post, new { @class = "form-signin" }))
                        {

                            <h2 class="h3 mb-3 font-weight-normal">Přihlášení</h2>
                            <label for="login" class="sr-only">Login</label>
                            <input type="text" id="name" class="form-control" placeholder="User name" name="login">
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        }

                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="@Url.Content("~/Plugins/jquery/jquery.min.js")"></script>
    <!-- Bootstrap 4 -->
    <script src="@Url.Content("~/Plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Plugins/dist/js/adminlte.min.js")"></script>

</body>
</html>



